.highlight {
    color: #4ECF75;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.nav_container {
    margin-top: -1.25rem;
    min-height: 10rem;
}

