.test_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 51rem;
    margin: auto;
    position: relative;
}

.reac_container{
    overflow: hidden;
    box-sizing: border-box;
    width: min(50rem, 100%);
    user-select: none;
    background-color: #2a2a2a;
    line-height: 2.4rem;
    border-radius: 6px;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test_bar{
    display: flex;
    flex-wrap: wrap;
    margin: .5rem auto;
    width: 100%;
    justify-content: center;
}

.prev_reac{
    background-color: #2a2a2a;
    width: 50px;
    height: 50px;
}