.test_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 51rem;
    margin: auto;
    position: relative;
}

.reac_container{
    overflow: hidden;
    box-sizing: border-box;
    width: min(50rem, 100%);
    user-select: none;
    line-height: 2.4rem;
    border-radius: 6px;
    background-color: #2a2a2a;
    border: none;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readyState{
    overflow: hidden;
    box-sizing: border-box;
    width: min(50rem, 100%);
    user-select: none;
    line-height: 2.4rem;
    border-radius: 6px;
    background-color: #cf4e4e;
    transition: all 0.2s ease 0s;
    border: none;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goState{
    overflow: hidden;
    box-sizing: border-box;
    width: min(50rem, 100%);
    user-select: none;
    line-height: 2.4rem;
    border-radius: 6px;
    background-color: #4ecf68;
    transition: all 0.2s ease 0s;
    border: none;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test_bar{
    display: flex;
    margin: .5rem auto;
    justify-content: center;
}

.bar_item{
    justify-content: center;
    align-items: center;
    width: 16.5rem;
    height: 3.625rem;
    padding: 0;
    /* padding: .9rem 2rem; */
    margin: .5rem;
    background-color: #2a2a2a;
    border-radius: 4px;
    display: flex;
}

.reset_button{
    justify-content: center;
    width: 15rem;
    height: 3.625rem;
    margin: .5rem;
    border-radius: 4px;
    border: none;
    background-color: #2a2a2a;
    transition: all 0.2s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset_button:hover{
    background-color: deepskyblue;
}
