.non-active{
    color: #d6d6d6;
    transition: all 0.2s ease 0s;
}
.active{
    background-color: #2a2a2a;
    padding: 9px 25px;
    border: none;
    /* maybe 4px */
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links {
    list-style-type: none;
    transition: all 0.2s ease 0s;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.2s ease 0s;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #bebebe;
    transition: all 0.3s ease 0s;
}

.container{
    align-items: center;
}