html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #242424;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #D6D6D6
}
