:root{
  --bg-colour: #242424;
  --text-colour: #d6d6d6;
  --for-colour: #2a2a2a;
  --red-0: #cf4e4e;
  --green-0: #4ecf68;
  --blue-0: #4ec6cf;
}

html {
  padding: 64px
}

html,
body {
  margin: 0px;
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg-colour);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

li, a {
  color: inherit;
  text-decoration: none;
}

a:active{
  background-color: #2a2a2a;
}

* {
  box-sizing: border-box;
  color: var(--text-colour);
}
